{{> head}}

{{> navbar}}

<div class="row" style="margin: 0;">
  <div class="col-8">
    <h1>Title</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ducimus harum pariatur numquam, repellendus magnam
      error odio eos maiores alias veritatis modi rerum quod asperiores a iure voluptatum sit minima.</p>
  </div>

  <div class="col-4">
    <img src="assets/images/pexels.jpeg" alt="" class="img-thumbnail">
  </div>
</div>

{{>footer }}